# Extracting data from relational databases

## SQLite Database

In [2]:
import sqlite3

#### Creating database objects

In [29]:
# creates connection to db / create db if no connection available
connection = sqlite3.connect("playerDB.db")

# define/create cursor
cursor = connection.cursor()

# creating a table
create_table = """
                create table player(
                    player_id    INT    PK,
                    first_name   VARCHAR(30),
                    surname      VARCHAR(50),
                    sex          CHAR(1),
                    weight       DEC(11,2),
                    height       INT
                );"""

# execute query
cursor.execute(create_table)

# commit change
connection.commit()

# close connection
connection.close()

#### Inserting data

In [30]:
# sample data
classroom_data = [(1, "Steven", "Karmaniolos", "M", 70.2, 183),
                  (2, "Keiran", "O'Connell", "M", 60.5, 174)]

# open connection
connection = sqlite3.connect("playerDB.db")

# open cursor
cursor = connection.cursor()

# insert each student record
for student in classroom_data:
    insert_statement = """insert into player (player_id, first_name, surname, sex, weight, height)
                          values ({0},"{1}","{2}","{3}",{4},{5});""".format(student[0], student[1], student[2], 
                                                                            student[3], student[4], student[5])
    cursor.execute(insert_statement)

# commit changes
connection.commit()

# close connection
connection.close()

#### Query data

In [32]:
# open connection
connection = sqlite3.connect("playerDB.db")

# open cursor
cursor = connection.cursor()

# query
query = "select * from player"

# exec query
cursor.execute(query)

# fetch results
result = cursor.fetchall()

# print results
for row in result:
    print(row)
    
# close connection
connection.close()

(1, 'Steven', 'Karmaniolos', 'M', 70.2, 183)
(2, 'Keiran', "O'Connell", 'M', 60.5, 174)